header {
    background-color: #FFE8A3;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: slab-serif;
}

.right-image {
    width: 250px;
    float: right;
  }


