<div *ngIf="isVisible" class="insert-dialog">
    <form [formGroup]="insertForm">
        <label for="suspect_id">Suspect ID:</label>
        <input type="text" id="suspect_id" formControlName="suspect_id" />

        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />

        <label for="phone">Phone:</label>
        <input type="text" id="phone" formControlName="phone" />

        <label for="gender">Gender:</label>
        <input type="text" id="gender" formControlName="gender" />

        <label for="address_street">Street Address:</label>
        <input type="text" id="address_street" formControlName="address_street" />

        <label for="address_number">Address Number:</label>
        <input type="text" id="address_number" formControlName="address_number" />

        <label for="birth_date">Birth Date:</label>
        <input type="text" id="birth_date" formControlName="birth_date" />

        <label for="Lawyer_lawyer_id">Lawyer ID:</label>
        <input type="text" id="Lawyer_lawyer_id" formControlName="Lawyer_lawyer_id" />

        <label for="status">Status:</label>
        <input type="text" id="status" formControlName="status" />

        <button type="button" (click)="onSave()">Save</button>

    </form>
  </div>
  