<app-header></app-header>
<div *ngIf="!isSubPage" >
  <button #startingElement class="button-case" (click)="navigateToCases()">Case</button>
  <button #endingVictim class="button-victim" (click)="navigateToVictims()">Victim</button>
  <button #endingPoliceman class="button-policeman" (click)="navigateToPolicemen()">Policeman</button>
  <button #endingClue class="button-clue" (click)="navigateToClues()">Clue</button>
  <button #endingSuspect class="button-suspect" (click)="navigateToSuspects()">Suspect</button>
  <button #endingWitness class="button-witness" (click)="navigateToWitnesses()">Witness</button>
  <img src="assets\clue.png" alt="Image" style="width:328px; height:253px;" class="clue-image">
  <img src="assets\hourglass.png" alt="Image" style="width:90px; height:93px;" class="hourglass-image">
  <img src="assets\investigator.png" alt="Image" style="width:228px; height:153px;" class="investigator-image">
  <img src="assets\map_paper.png" alt="Image" style="width:200px; height:220px;" class="map_paper-image">
  <img src="assets\map.png" alt="Image" style="width:160px; height:170px;" class="map-image">
  <img src="assets\paper.png" alt="Image" style="width:90px; height:120px;" class="paper-image">
  <img src="assets\papers3.png" alt="Image" style="width:280px; height:120px;" class="paper3-image">
  <img src="assets\suspect.png" alt="Image" style="width:320px; height:240px;" class="suspect-image">
  <img src="assets\victim.png" alt="Image" style="width:320px; height:240px;" class="victim-image">
  <img src="assets\witness.png" alt="Image" style="width:320px; height:240px;" class="witness-image">
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
