<app-header></app-header>
<div *ngIf="!isSubPage" >
  <button #startingElement class="button-case" (click)="navigateToCases()">Case</button>
  <button #endingVictim class="button-victim" (click)="navigateToVictims()">Victim</button>
  <button #endingPoliceman class="button-policeman" (click)="navigateToPolicemen()">Policeman</button>
  <button #endingClue class="button-clue" (click)="navigateToClues()">Clue</button>
  <button #endingSuspect class="button-suspect" (click)="navigateToSuspects()">Suspect</button>
  <button #endingWitness class="button-witness" (click)="navigateToWitnesses()">Witness</button>
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
